<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.buss_service.order.mapper.BussOrderInfoTicketMapper">

    <resultMap type="com.cms.buss_service.order.domain.BussOrderInfoTicket" id="BussOrderInfoResult">
        <result property="pk" column="pk"/>
        <result property="batchNo" column="batch_no"/>
        <result property="orderTime" column="order_time"/>
        <result property="orderPersion" column="order_persion"/>
        <result property="stationId" column="station_id"/>
        <result property="orderAddressId" column="order_address_id"/>
        <result property="amount" column="amount"/>
        <result property="amountofmoney" column="amountofMoney"/>
        <result property="singlePrice" column="single_price"/>
        <result property="expressFee" column="express_fee"/>
        <result property="isOvertime" column="is_overtime"/>
        <result property="overtimeTime" column="overtime_time"/>
        <result property="orderRemark" column="order_remark"/>
        <result property="orderPayTime" column="order_pay_time"/>
        <result property="completeTime" column="complete_time"/>
        <result property="orderType" column="order_type"/>
        <result property="orderStatus" column="order_status"/>
        <result property="payType" column="pay_type"/>
        <result property="needMortgage" column="need_mortgage"/>
        <result property="delFlag" column="del_flag"/>
        <result property="cancelReason" column="cancel_reason"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="no1" column="no1"/>
        <result property="no2" column="no2"/>
        <result property="no3" column="no3"/>
        <result property="no4" column="no4"/>
        <result property="no5" column="no5"/>
        <result property="no6" column="no6"/>
        <result property="no7" column="no7"/>
        <result property="no8" column="no8"/>
        <result property="no9" column="no9"/>
        <result property="no10" column="no10"/>
        <result property="no11" column="no11"/>
        <result property="no12" column="no12"/>
        <result property="no13" column="no13"/>
        <result property="no14" column="no14"/>
        <result property="no15" column="no15"/>
        <result property="isInvoice" column="isInvoice"/>
        <association property="address" column="order_address_id" select="queryOrderAddrInfo"/>
        <association property="uorder" column="order_persion" select="queryOrderUserInfo"/>
        <collection property="products" column="pk" select="queryOrderProductList"/>
        <collection property="bprds" column="order_persion" select="queryUserYtInfo"/>
        <collection property="blrds" column="order_persion" select="queryUserQtInfo"/>
    </resultMap>

    <select id="queryUserYtInfo" resultType="com.cms.buss_service.bucket.domain.BussBucketPledgeRecord">
            select * from buss_bucket_pledge_record where user_pk = #{userPk} and status='0'
    </select>
    <select id="queryUserQtInfo" resultType="com.cms.buss_service.bucket.domain.BussBucketLackRecord">
            select * from buss_bucket_lack_record where user_pk = #{userPk} and status='0'
    </select>
    <resultMap type="com.cms.buss_service.order.domain.BussOrderInfoTicket" id="BussOrderInvoiceInfoResult">
        <result property="pk" column="pk"/>
        <result property="batchNo" column="batch_no"/>
        <result property="orderTime" column="order_time"/>
        <result property="orderPersion" column="order_persion"/>
        <result property="stationId" column="station_id"/>
        <result property="orderAddressId" column="order_address_id"/>
        <result property="amount" column="amount"/>
        <result property="amountofmoney" column="amountofMoney"/>
        <result property="orderType" column="order_type"/>
        <result property="orderStatus" column="order_status"/>
        <result property="isInvoice" column="isInvoice"/>
    </resultMap>

    <select id="queryMyStationInTjInfo" resultType="java.util.Map">
       SELECT
            count(1) AS ddzl,
            0 AS dddps,
            0 AS ddywc,
            0 AS ddth,
            0 AS hyvip,
            0 AS hyyj,
            sum(o.amountofMoney) AS bzzsr,
            (select SUM(o.amountofMoney) from buss_order_info_ticket where to_days(create_time) = to_days(now())  limit 1) AS jrzsr,
            (SELECT count(1) from sys_user WHERE cloud_pk= #{stationId}  limit 1 ) AS hyzs,
            (SELECT count(1) from sys_user WHERE cloud_pk=#{stationId} AND to_days(create_time) = to_days(now())  limit 1) AS jrxzkh,
            (SELECT SUM(count) from buss_bucket_details d LEFT JOIN buss_bucket_info o on o.pk = d.arecord_pk where o.record_type='2' and o.`status`='2' and o.station_pk=#{stationId} AND to_days( o.create_time ) = to_days(now()) ) AS jryt,
            (SELECT SUM(count) from buss_bucket_details d LEFT JOIN buss_bucket_info o on o.pk = d.arecord_pk where o.record_type='1' and o.`status`='1' and o.station_pk=#{stationId} AND to_days( o.create_time ) = to_days(now()) ) AS jrqt,
            (SELECT SUM(count) from buss_bucket_details d LEFT JOIN buss_bucket_info o on o.pk = d.arecord_pk where o.record_type='2' and o.`status`='2' and o.station_pk=#{stationId}) AS zyts,
            (SELECT SUM(count) from buss_bucket_details d LEFT JOIN buss_bucket_info o on o.pk = d.arecord_pk where o.record_type='1' and o.`status`='1' and o.station_pk=#{stationId})AS zqts,
            (SELECT count( 0 ) FROM	buss_user_invoice_record AS rd WHERE	1 = 1 AND rd.no1=#{stationId}	AND rd.no2 = 'Y' )  AS ykps,
            (SELECT count( 0 ) FROM	buss_user_invoice_record AS rd WHERE	1 = 1 AND rd.no1=#{stationId}	AND rd.no2 = 'N' ) AS dkps,
            (SELECT SUM(rd.invoice_amount) FROM	buss_user_invoice_record AS rd WHERE	1 = 1 AND rd.no1=#{stationId}	AND rd.no2 = 'Y' )  AS ykpe,
            (SELECT SUM(rd.invoice_amount) FROM	buss_user_invoice_record AS rd WHERE	1 = 1 AND rd.no1=#{stationId}	AND rd.no2 = 'N' ) AS dkpe
        FROM
        buss_order_info_ticket o
        LEFT JOIN sys_user u ON u.user_id = o.order_persion
        WHERE  FIND_IN_SET(o.order_status,"2,3,5,6") AND o.station_id = #{stationId}
    </select>
    <!--
    SELECT
            count(1) AS ddzl,
            0 AS dddps,
            0 AS ddywc,
            0 AS ddth,
            0 AS hyvip,
            0 AS hyyj,
            sum(o.amountofMoney) AS bzzsr,
            (select SUM(o.amountofMoney) from buss_order_info_ticket where to_days(create_time) = to_days(now())  limit 1) AS jrzsr,
            (SELECT count(1) from sys_user WHERE cloud_pk= #{stationId}  limit 1 ) AS hyzs,
            (SELECT count(1) from sys_user WHERE cloud_pk=#{stationId} AND to_days(create_time) = to_days(now())  limit 1) AS jrxzkh,
            (SELECT SUM(bucket_count) FROM buss_bucket_pledge_record WHERE station_pk=#{stationId}  AND to_days(create_time) = to_days(now())  limit 1) AS jryt,
            (SELECT SUM(bucket_count) FROM buss_bucket_lack_record WHERE station_pk=#{stationId}  AND to_days(create_time) = to_days(now())   limit 1) AS jrqt,
            (SELECT SUM(bucket_count) FROM buss_bucket_pledge_record WHERE station_pk=#{stationId}  limit 1) AS zyts,
            (SELECT SUM(bucket_count) FROM buss_bucket_lack_record WHERE station_pk=#{stationId}  limit 1) AS zqts,
            (SELECT count(1) FROM buss_order_info_ticket bo WHERE bo.station_id=#{stationId} AND FIND_IN_SET(bo.pk, (SELECT GROUP_CONCAT(ivs.order_pk) from buss_user_invoice_record_details ivs  limit 1)) ) AS ykps,
            (count(1) - (SELECT count(1) FROM buss_order_info_ticket bo WHERE bo.station_id=#{stationId} AND FIND_IN_SET(bo.pk, (SELECT GROUP_CONCAT(ivs.order_pk) from buss_user_invoice_record_details ivs  limit 1))))  AS dkps,
            (SELECT SUM(amountofMoney) FROM buss_order_info_ticket bo WHERE bo.station_id=#{stationId} AND FIND_IN_SET(bo.pk, (SELECT GROUP_CONCAT(ivs.order_pk) from buss_user_invoice_record_details ivs  limit 1)) ) AS ykpe,
            (SUM(o.amountofMoney) - (SELECT SUM(amountofMoney) FROM buss_order_info_ticket bo WHERE bo.station_id=#{stationId} AND FIND_IN_SET(bo.pk, (SELECT GROUP_CONCAT(ivs.order_pk) from buss_user_invoice_record_details ivs  limit 1))))  AS dkpe
        FROM
        buss_order_info_ticket o
        LEFT JOIN sys_user u ON u.user_id = o.order_persion
        WHERE  FIND_IN_SET(o.order_status,"2,3,5,6") AND o.station_id = #{stationId}-->

    <!--TODO 获取快递员端的统计信息-->
    <select id="queryPosterTjInfo" resultType="java.util.Map">
        SELECT
            0 AS wdzsr,
            0 AS byzsr,
            0 AS bzzsr,
            0 AS jrzsr,
            (select count(user_id) from sys_user where ud9=  #{createBy} ) AS hyzs,
            (select count(user_id) from sys_user where ud9=  #{createBy} ) AS vipzs,
            (select count(user_id) from sys_user where ud9=  #{createBy} AND DATE_FORMAT(create_time, '%Y-%m') = DATE_FORMAT(now(),'%Y-%m') )AS byxzkh,
			(select count(user_id) from sys_user where ud9=  #{createBy} AND to_days(create_time) = to_days(now()) ) AS jrxzkh,
			(select count(pk) from buss_order_info_ticket where to_days(create_time) = to_days(now())  AND no5 = #{createBy} )  AS jrpjs,
			(select count(pk) from buss_order_info_ticket where YEARWEEK(date_format(create_time,'%Y-%m-%d'),1) = YEARWEEK(now(),1)  AND no5 = #{createBy} ) AS bzpjs,
			(select count(pk) from buss_order_info_ticket where DATE_FORMAT(create_time, '%Y-%m') = DATE_FORMAT(now(),'%Y-%m')  AND no5 = #{createBy} ) AS bypjs,
			(select count(pk) from buss_order_info_ticket where 1=1 AND no5 = #{createBy} )  AS lspjs,
			(SELECT count(pk) from buss_bucket_pledge_record where to_days(create_time) = to_days(now()) AND poster_pk = #{createBy} ) AS jryt,
			(SELECT count(pk) from buss_bucket_lack_record where to_days(create_time) = to_days(now())  AND poster_pk = #{createBy} ) as jrqt,
			(SELECT count(pk) from buss_bucket_pledge_record where 1=1 AND poster_pk = #{createBy}  )  AS zyts,
			(SELECT count(pk) from buss_bucket_lack_record where 1=1 AND poster_pk = #{createBy} )  AS zqts
        FROM
        buss_order_info_ticket o LIMIT 1
    </select>

    <!--获取订单下单人信息-->
    <select id="queryOrderUserInfo" resultType="com.cms.system_service.system.domain.SysUser">
        SELECT * from sys_user where user_id = #{uid}
    </select>
    <!--获取订单下单人收货地址信息-->
    <select id="queryOrderAddrInfo" resultType="com.cms.buss_service.order.domain.BussReceiverMessage">
        SELECT * from buss_receiver_message where id=#{aid}
    </select>
    <!--获取订单产品信息-->
    <select id="queryOrderProductList" resultType="com.cms.buss_service.order.domain.ProductInfoVo">
       SELECT
           ct.pk,
           ct.product_name as productName,
           ct.product_price as productPrice,
           ct.product_unit as productUnit,
           ct.product_tag as productLabel,
           fo.product_amount as productAmount,
           ct.product_main_image as no2
       FROM
       buss_order_product_info fo
       left join buss_product_info ct on fo.product_pk = ct.pk
       WHERE fo.order_info_pk = #{oid}
    </select>

    <sql id="selectBussOrderInfoVo">
        SELECT fo.pk, fo.batch_no, fo.order_time, fo.order_persion,
        fo.station_id, fo.order_address_id, fo.amount, fo.amountofMoney,
        fo.single_price, fo.express_fee, fo.is_overtime, fo.overtime_time,
         fo.order_remark, fo.order_pay_time, fo.complete_time, fo.order_type,
         fo.order_status, fo.pay_type, fo.need_mortgage, fo.del_flag,
         fo.cancel_reason, fo.create_by, fo.create_time, fo.update_by,
         fo.update_time, fo.no1, fo.no2, fo.no3, fo.no4, fo.no5, fo.no6, fo.no7,
         fo.no8, fo.no9, fo.no10, fo.no11, fo.no12, fo.no13, fo.no14,
         fo.no15,
        (SELECT count(1) from buss_user_invoice_record_details WHERE order_pk = fo.pk) as isInvoice
        FROM buss_order_info_ticket AS fo
        LEFT JOIN sys_user u ON u.user_id  =  fo.create_by
        LEFT JOIN sys_dept d ON u.dept_id  =  d.dept_id
    </sql>
    <sql id="selectBussOrderInvoiceInfoVo">
        SELECT fo.pk, fo.batch_no, fo.order_time, fo.order_persion,
        fo.station_id, fo.order_address_id, fo.amount, fo.amountofMoney,
        fo.single_price,
        fo.cancel_reason, fo.create_by,
        (SELECT count(1) from buss_user_invoice_record_details WHERE order_pk = fo.pk) as isInvoice
        FROM buss_order_info_ticket AS fo
        WHERE 1=1 AND  fo.order_status  in ("2,3,5,6")
    </sql>
    <select id="selectBussOrderInvoiceList" resultMap="BussOrderInvoiceInfoResult">
        SELECT ak.* FROM (<include refid="selectBussOrderInvoiceInfoVo"/>) as ak WHERE 1 = 1
        AND ak.isInvoice &lt; 1
        <if test="orderPersion != null  and orderPersion != ''">AND ak.order_persion = #{orderPersion}</if>
    </select>


    <select id="selectBussOrderInfoTicketList" parameterType="com.cms.buss_service.order.domain.BussOrderInfoTicket"
            resultMap="BussOrderInfoResult">
        <include refid="selectBussOrderInfoVo"/>
        <where>
            1 = 1
            <if test="batchNo != null  and batchNo != ''">AND fo.batch_no = #{batchNo}</if>
            <if test="orderTime != null  and orderTime != ''">AND fo.order_time = #{orderTime}</if>
            <if test="orderPersion != null  and orderPersion != ''">AND fo.order_persion = #{orderPersion}</if>
            <if test="stationId != null  and stationId != ''">AND fo.station_id = #{stationId}</if>
            <if test="orderAddressId != null  and orderAddressId != ''">AND fo.order_address_id = #{orderAddressId}</if>
            <if test="amount != null ">AND fo.amount = #{amount}</if>
            <if test="amountofmoney != null ">AND fo.amountofMoney = #{amountofmoney}</if>
            <if test="singlePrice != null ">AND fo.single_price = #{singlePrice}</if>
            <if test="expressFee != null ">AND fo.express_fee = #{expressFee}</if>
            <if test="isOvertime != null  and isOvertime != ''">AND fo.is_overtime = #{isOvertime}</if>
            <if test="overtimeTime != null  and overtimeTime != ''">AND fo.overtime_time = #{overtimeTime}</if>
            <if test="orderRemark != null  and orderRemark != ''">AND fo.order_remark = #{orderRemark}</if>
            <if test="orderPayTime != null  and orderPayTime != ''">AND fo.order_pay_time = #{orderPayTime}</if>
            <if test="completeTime != null  and completeTime != ''">AND fo.complete_time = #{completeTime}</if>
            <if test="orderType != null  and orderType != ''">AND fo.order_type = #{orderType}</if>
            <if test="orderStatus != null ">AND fo.order_status = #{orderStatus}</if>
            <if test="orderStatus == null  or orderStatus == ''">AND fo.order_status != '4'</if>
            <if test="payType != null  and payType != ''">AND fo.pay_type = #{payType}</if>
            <if test="needMortgage != null  and needMortgage != ''">AND fo.need_mortgage = #{needMortgage}</if>
            <if test="cancelReason != null  and cancelReason != ''">AND fo.cancel_reason = #{cancelReason}</if>
            <if test="no1 != null  and no1 != ''">AND fo.no1 = #{no1}</if>
            <if test="no2 != null  and no2 != ''">AND fo.no2 = #{no2}</if>
            <if test="no3 != null  and no3 != ''">AND fo.no3 = #{no3}</if>
            <if test="no4 != null  and no4 != ''">AND fo.no4 = #{no4}</if>
            <if test="no5 != null  and no5 != ''">AND fo.no5 = #{no5}</if>
            <if test="no6 != null  and no6 != ''">AND fo.no6 = #{no6}</if>
            <if test="no7 != null  and no7 != ''">AND fo.no7 = #{no7}</if>
            <if test="no8 != null  and no8 != ''">AND fo.no8 = #{no8}</if>
            <if test="no9 != null  and no9 != ''">AND fo.no9 = #{no9}</if>
            <if test="no10 != null  and no10 != ''">AND fo.no10 = #{no10}</if>
            <if test="no11 != null  and no11 != ''">AND fo.no11 = #{no11}</if>
            <if test="no12 != null  and no12 != ''">AND fo.no12 = #{no12}</if>
            <if test="no13 != null  and no13 != ''">AND fo.no13 = #{no13}</if>
            <if test="no14 != null  and no14 != ''">AND fo.no14 = #{no14}</if>
            <if test="no15 != null  and no15 != ''">AND fo.no15 = #{no15}</if>
        </where>
        ${dataScope}
        ORDER BY fo.create_time DESC
    </select>

    <select id="selectUserReminderList" parameterType="com.cms.buss_service.order.domain.BussOrderInfoTicket"
            resultMap="BussOrderInfoResult">
        <include refid="selectBussOrderInfoVo"/>
        <where>
            1 = 1 AND FIND_IN_SET(fo.pk,(SELECT distinct(order_id) FROM buss_order_reminder))
            <if test="orderPersion != null  and orderPersion != ''">AND fo.order_persion = #{orderPersion}</if>
            <if test="stationId != null  and stationId != ''">AND fo.station_id = #{stationId}</if>
            <if test="orderStatus != null ">AND fo.order_status = #{orderStatus}</if>
        </where>
        ${dataScope}
        ORDER BY fo.create_time DESC
    </select>

    <select id="selectBussOrderInfoTicketById" parameterType="String" resultMap="BussOrderInfoResult">
        <include refid="selectBussOrderInfoVo"/>
        WHERE fo.pk = #{pk}
    </select>
    <!--获取超过28分钟未支付的订单-->
    <select id="selectUnPayOrderInfo" resultMap="BussOrderInfoResult">
        SELECT * FROM buss_order_info_ticket AS fo
        WHERE fo.order_status = 1 AND TIMESTAMPDIFF(MINUTE, fo.create_time, now()) > 28
    </select>
    <!--获取用户末次下单信息-->
    <select id="queryUserLastOrderInfoTicket" resultType="java.util.Map">
        SELECT
            order_time as lastTime,
            timestampdiff(MONTH,order_time,Now()) as lsMouth,
            (select count(pk) from buss_order_info_ticket WHERE order_type = 1
                and order_status in ("2,3,5,6") and order_persion= #{userPk}
            	and order_time > CURRENT_TIMESTAMP - INTERVAL 30 MINUTE)  as isFree
        FROM
            buss_order_info_ticket
        WHERE
            1 = 1
            AND order_type = 1 and order_status in ("2,3,5,6") and order_persion=#{userPk}
            order by order_time desc limit 1
    </select>

    <insert id="insertBussOrderInfoTicket" parameterType="com.cms.buss_service.order.domain.BussOrderInfoTicket">
        INSERT INTO buss_order_info_ticket
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pk != null  and pk != ''">pk,</if>
            <if test="batchNo != null  and batchNo != ''">batch_no,</if>
            <if test="orderTime != null  and orderTime != ''">order_time,</if>
            <if test="orderPersion != null  and orderPersion != ''">order_persion,</if>
            <if test="stationId != null  and stationId != ''">station_id,</if>
            <if test="orderAddressId != null  and orderAddressId != ''">order_address_id,</if>
            <if test="amount != null ">amount,</if>
            <if test="amountofmoney != null ">amountofMoney,</if>
            <if test="singlePrice != null ">single_price,</if>
            <if test="expressFee != null ">express_fee,</if>
            <if test="isOvertime != null  and isOvertime != ''">is_overtime,</if>
            <if test="overtimeTime != null  and overtimeTime != ''">overtime_time,</if>
            <if test="orderRemark != null  and orderRemark != ''">order_remark,</if>
            <if test="orderPayTime != null  and orderPayTime != ''">order_pay_time,</if>
            <if test="completeTime != null  and completeTime != ''">complete_time,</if>
            <if test="orderType != null  and orderType != ''">order_type,</if>
            <if test="orderStatus != null ">order_status,</if>
            <if test="payType != null  and payType != ''">pay_type,</if>
            <if test="needMortgage != null  and needMortgage != ''">need_mortgage,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="cancelReason != null  and cancelReason != ''">cancel_reason,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null  and createTime != ''">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null  and updateTime != ''">update_time,</if>
            <if test="no1 != null  and no1 != ''">no1,</if>
            <if test="no2 != null  and no2 != ''">no2,</if>
            <if test="no3 != null  and no3 != ''">no3,</if>
            <if test="no4 != null  and no4 != ''">no4,</if>
            <if test="no5 != null  and no5 != ''">no5,</if>
            <if test="no6 != null  and no6 != ''">no6,</if>
            <if test="no7 != null  and no7 != ''">no7,</if>
            <if test="no8 != null  and no8 != ''">no8,</if>
            <if test="no9 != null  and no9 != ''">no9,</if>
            <if test="no10 != null  and no10 != ''">no10,</if>
            <if test="no11 != null  and no11 != ''">no11,</if>
            <if test="no12 != null  and no12 != ''">no12,</if>
            <if test="no13 != null  and no13 != ''">no13,</if>
            <if test="no14 != null  and no14 != ''">no14,</if>
            <if test="no15 != null  and no15 != ''">no15,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pk != null  and pk != ''">#{pk},</if>
            <if test="batchNo != null  and batchNo != ''">#{batchNo},</if>
            <if test="orderTime != null  and orderTime != ''">#{orderTime},</if>
            <if test="orderPersion != null  and orderPersion != ''">#{orderPersion},</if>
            <if test="stationId != null  and stationId != ''">#{stationId},</if>
            <if test="orderAddressId != null  and orderAddressId != ''">#{orderAddressId},</if>
            <if test="amount != null ">#{amount},</if>
            <if test="amountofmoney != null ">#{amountofmoney},</if>
            <if test="singlePrice != null ">#{singlePrice},</if>
            <if test="expressFee != null ">#{expressFee},</if>
            <if test="isOvertime != null  and isOvertime != ''">#{isOvertime},</if>
            <if test="overtimeTime != null  and overtimeTime != ''">#{overtimeTime},</if>
            <if test="orderRemark != null  and orderRemark != ''">#{orderRemark},</if>
            <if test="orderPayTime != null  and orderPayTime != ''">#{orderPayTime},</if>
            <if test="completeTime != null  and completeTime != ''">#{completeTime},</if>
            <if test="orderType != null  and orderType != ''">#{orderType},</if>
            <if test="orderStatus != null ">#{orderStatus},</if>
            <if test="payType != null  and payType != ''">#{payType},</if>
            <if test="needMortgage != null  and needMortgage != ''">#{needMortgage},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="cancelReason != null  and cancelReason != ''">#{cancelReason},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null  and createTime != ''">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null  and updateTime != ''">#{updateTime},</if>
            <if test="no1 != null  and no1 != ''">#{no1},</if>
            <if test="no2 != null  and no2 != ''">#{no2},</if>
            <if test="no3 != null  and no3 != ''">#{no3},</if>
            <if test="no4 != null  and no4 != ''">#{no4},</if>
            <if test="no5 != null  and no5 != ''">#{no5},</if>
            <if test="no6 != null  and no6 != ''">#{no6},</if>
            <if test="no7 != null  and no7 != ''">#{no7},</if>
            <if test="no8 != null  and no8 != ''">#{no8},</if>
            <if test="no9 != null  and no9 != ''">#{no9},</if>
            <if test="no10 != null  and no10 != ''">#{no10},</if>
            <if test="no11 != null  and no11 != ''">#{no11},</if>
            <if test="no12 != null  and no12 != ''">#{no12},</if>
            <if test="no13 != null  and no13 != ''">#{no13},</if>
            <if test="no14 != null  and no14 != ''">#{no14},</if>
            <if test="no15 != null  and no15 != ''">#{no15},</if>
        </trim>
    </insert>

    <update id="updateBussOrderInfoTicket" parameterType="com.cms.buss_service.order.domain.BussOrderInfoTicket">
        UPDATE buss_order_info_ticket
        <trim prefix="SET" suffixOverrides=",">
            <if test="batchNo != null  and batchNo != ''">batch_no = #{batchNo},</if>
            <if test="orderTime != null  and orderTime != ''">order_time = #{orderTime},</if>
            <if test="orderPersion != null  and orderPersion != ''">order_persion = #{orderPersion},</if>
            <if test="stationId != null  and stationId != ''">station_id = #{stationId},</if>
            <if test="orderAddressId != null  and orderAddressId != ''">order_address_id = #{orderAddressId},</if>
            <if test="amount != null ">amount = #{amount},</if>
            <if test="amountofmoney != null ">amountofMoney = #{amountofmoney},</if>
            <if test="singlePrice != null ">single_price = #{singlePrice},</if>
            <if test="expressFee != null ">express_fee = #{expressFee},</if>
            <if test="isOvertime != null  and isOvertime != ''">is_overtime = #{isOvertime},</if>
            <if test="overtimeTime != null  and overtimeTime != ''">overtime_time = #{overtimeTime},</if>
            <if test="orderRemark != null  and orderRemark != ''">order_remark = #{orderRemark},</if>
            <if test="orderPayTime != null  and orderPayTime != ''">order_pay_time = #{orderPayTime},</if>
            <if test="completeTime != null  and completeTime != ''">complete_time = #{completeTime},</if>
            <if test="orderType != null  and orderType != ''">order_type = #{orderType},</if>
            <if test="orderStatus != null ">order_status = #{orderStatus},</if>
            <if test="payType != null  and payType != ''">pay_type = #{payType},</if>
            <if test="needMortgage != null  and needMortgage != ''">need_mortgage = #{needMortgage},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="cancelReason != null  and cancelReason != ''">cancel_reason = #{cancelReason},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null  and createTime != ''">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null  and updateTime != ''">update_time = #{updateTime},</if>
            <if test="no1 != null  and no1 != ''">no1 = #{no1},</if>
            <if test="no2 != null  and no2 != ''">no2 = #{no2},</if>
            <if test="no3 != null  and no3 != ''">no3 = #{no3},</if>
            <if test="no4 != null  and no4 != ''">no4 = #{no4},</if>
            <if test="no5 != null  and no5 != ''">no5 = #{no5},</if>
            <if test="no6 != null  and no6 != ''">no6 = #{no6},</if>
            <if test="no7 != null  and no7 != ''">no7 = #{no7},</if>
            <if test="no8 != null  and no8 != ''">no8 = #{no8},</if>
            <if test="no9 != null  and no9 != ''">no9 = #{no9},</if>
            <if test="no10 != null  and no10 != ''">no10 = #{no10},</if>
            <if test="no11 != null  and no11 != ''">no11 = #{no11},</if>
            <if test="no12 != null  and no12 != ''">no12 = #{no12},</if>
            <if test="no13 != null  and no13 != ''">no13 = #{no13},</if>
            <if test="no14 != null  and no14 != ''">no14 = #{no14},</if>
            <if test="no15 != null ">no15 = #{no15},</if>
        </trim>
        WHERE pk = #{pk}
    </update>

    <delete id="deleteBussOrderInfoTicketById" parameterType="String">
        DELETE FROM buss_order_info_ticket WHERE pk = #{pk}
    </delete>

    <delete id="deleteBussOrderInfoTicketByIds" parameterType="String">
        DELETE FROM buss_order_info_ticket WHERE pk in
        <foreach item="pk" collection="array" open="(" separator="," close=")">
            #{pk}
        </foreach>
    </delete>

</mapper>